div ul li {
  font-family: 'Montserrat';
  font-weight: 500;
  padding-left: 1.5vw; }

.navbar-brand {
  padding-left: 5vw; }

.redes {
  height: 1.2em;
  width: 1.2em;
  margin: 0.5rem; }

.navbar-light .navbar-nav .nav-link {
  color: black;
  padding: 1vw; }

.navbar-light .navbar-nav .nav-link:hover {
  color: #D78B3A; }

.dropdown-item:hover {
  color: black;
  background-color: #D78B3A; }

/* footer */
footer {
  background-color: black; }

.footer-contenedeor {
  height: 10vw; }

.footer-links {
  text-decoration: none;
  padding: 2vw;
  color: white;
  font-size: 1.5vw; }

.footer-links:hover {
  color: #D78B3A; }

.footer-logo {
  width: 10%;
  margin: 2vw; }

/*Floating Back-To-Top Button*/
#myBtn {
  color: #E4A4AD;
  text-decoration: none;
  position: fixed;
  bottom: 2em;
  float: right;
  right: 5%;
  left: 90%;
  max-width: 9em;
  width: 100%;
  font-size: 0.7em;
  background-color: #286CCD;
  padding: 0.7px;
  border-radius: 4px;
  border: solid;
  border-color: #286CCD; }

/*On Hover Color Change*/
#myBtn:hover {
  text-decoration: none;
  background-color: #065249;
  border-color: #065249; }

@media screen and (max-width: 600px) {
  /*Floating Back-To-Top Button*/
  #myBtn {
    bottom: 5em;
    left: 85%;
    max-width: 5em; } }

.main-todo {
  display: flex; }

.main-todo div {
  padding: 5vw;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end; }

.main-iso {
  height: 25vw;
  width: 25vw;
  padding-left: 3vw; }

.main-texto {
  color: #286CCD;
  font-size: 6vw;
  font-weight: 900;
  margin-left: 5vw;
  line-height: 1.1em; }

/* carrusel */
.carousel {
  margin-top: 1vw; }

/* CARDS */
.cards-containerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vw; }

.card {
  width: 25vw;
  height: auto;
  border: none;
  margin: 4vw 2vw 0 2vw; }

.card-title {
  color: #065249;
  font-size: 1.5vw; }

.card:hover {
  filter: saturate(5);
  box-shadow: 10px 10px 30px grey;
  cursor: pointer; }

/* formulario */
.form-container {
  background-color: black; }

.form {
  margin: 0vw 30vw 0vw 30vw;
  color: white; }

.form-group1 {
  padding-top: 3vw; }

.form-group {
  padding-top: 2vw; }

.btn {
  margin-top: 2vw; }

/* Servicios */
.servicios-contendedor {
  margin-top: 3vw;
  margin-bottom: 6vw; }

.servicios-contendedor a {
  text-decoration: none; }

.servicios-img {
  border-radius: 0.5vw;
  height: 18vw;
  width: auto;
  filter: grayscale(100%) contrast(30%);
  transition: 1s; }

.servicios-img:hover {
  box-shadow: 2px 2px 5px grey;
  cursor: pointer;
  filter: none;
  transform: scale(150%); }

.servicios-txt {
  text-align: center;
  font-family: montserrat, sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  margin-top: 1vw;
  background-color: #E4A4AD;
  color: #286CCD;
  border-radius: 0.5vw;
  text-decoration: none; }

@media screen and (max-width: 1125px) {
  .servicios-contendedor {
    flex-wrap: wrap;
    flex-direction: column; }
  .servicios-img {
    height: 40vw; }
  .servicios-txt {
    text-align: center;
    font-family: montserrat, sans-serif;
    font-size: 4vw;
    font-weight: 500;
    margin-top: 2vw;
    margin-bottom: 6vw;
    background-color: #E4A4AD;
    color: #286CCD;
    border-radius: 0.5vw;
    text-decoration: none; }
  /* CARDS */
  .cards-containerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5vw 0 0 30vw;
    margin-top: 5vw; }
  .card {
    width: 40vw;
    height: auto;
    border: none; }
  .card-title {
    color: #065249;
    font-size: 5vw; } }

.grids2 {
  margin: 4vw 0vw 0vw 9vw;
  display: grid;
  grid-template-columns: 42vw 0vw; }

.grids2 div {
  width: 40vw;
  height: 16vw; }

.container {
  position: relative;
  width: 100%;
  margin-bottom: 2vw; }

.image {
  display: block;
  width: 40vw;
  height: 16vw;
  margin-left: -2.3%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #DB5424; }

.container:hover .overlay {
  opacity: 1; }

.text {
  color: #EAE2CC;
  font-size: 1.3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding-top: 5.8vw; }

.hoverTitulo {
  font-size: 2.5vw; }

.contactanosTexto {
  text-align: center;
  color: #065249;
  font-size: 2vw;
  padding: 0 22vw 1vw 22vw; }

.contactanosRedes {
  margin-left: 40vw;
  margin-bottom: 4vw; }

.contactanosRedesLogo {
  filter: grayscale(100%);
  align-items: center;
  height: 5vw;
  width: 5vw;
  margin: 2vw; }

.contactanosRedesLogo:hover {
  filter: grayscale(0); }

@media screen and (max-width: 1125px) {
  .grids2 {
    margin: 4vw 0vw 0vw 10vw;
    display: grid;
    grid-template-columns: 1vw;
    grid-template-rows: 35vw 35vw 35vw 35vw 35vw 35vw 35vw 35vw; }
  .grids2 div {
    width: 80vw;
    height: 32vw; }
  .container {
    position: relative;
    width: 100%;
    margin-bottom: 2vw; }
  /*     .image {
        display: block;
        width: 40vw;
        height: 16vw;
        margin-left: -2.3%;
    
    }
 */
  .image {
    width: 80vw;
    height: 32vw;
    margin-left: -3%; }
  .hoverTitulo {
    font-size: 7vw; }
  .text {
    color: #EAE2CC;
    font-size: 2.5vw; }
  .contactanosTexto {
    text-align: center;
    color: #065249;
    font-size: 4vw;
    padding: 0 12vw 5vw 12vw; }
  .contactanosRedes {
    margin-left: 30vw; }
  .contactanosRedesLogo {
    height: 15vw;
    width: 15vw;
    margin: 2vw; } }

body {
  font-family: 'Montserrat', sans-serif; }
