.grids2{
    margin: 4vw 0vw 0vw 9vw;
    display: grid;
    grid-template-columns: 42vw 0vw;
}

.grids2 div{
    width: 40vw;
    height: 16vw;
}

.container {
    position: relative;
    width: 100%;
    margin-bottom: 2vw ;

}

.image {
    display: block;
    width: 40vw;
    height: 16vw;
    margin-left: -2.3%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $naranja2 ;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: $beige ;
    font-size: 1.3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding-top: 5.8vw;

}



.contactanosTexto{
    text-align: center;
    color: $verde2;
    font-size: 2vw;
    padding: 0 22vw 1vw 22vw;
}

.contactanosRedes{
    margin-left: 40vw;
    margin-bottom: 4vw;
}

.contactanosRedesLogo{
    filter: grayscale(100%);
    align-items: center;
    height: 5vw;
    width: 5vw;
    margin: 2vw;
    }

.contactanosRedesLogo:hover{
    filter: grayscale(0);
}

@media screen and (max-width:600px){
    body{
        background-color:brown;
    }
}