$blanco: white;
$negro: black;
$beige: #EAE2CC;
$rosa: #E4A4AD;
$amarillo: #EBB724;
$naranja1: #D78B3A;
$naranja2: #DB5424;
$azul1: #597BB4;
$azul2: #286CCD;
$verde1: #82B39B;
$verde2: #065249;

h2{
    font-weight: 700;
    color: $verde2;
    font-size: 3vw;
    margin-left: 10vw;
    margin-top: 8vw;
}

h3{
    font-weight: 400;
    color: $verde1;
    font-size: 2vw;
    margin-left: 10vw;
    margin-bottom: 3vw;
}

.columna1{
    text-align: center;
    font-size: 4vw;
    color: $naranja1;
    font-weight: 700;
    background-color: $naranja1;
    padding: 5vw 3.7vw 5vw 3.7vw;
    border-radius: 40% 0% 0% 0%;

    transition: 1s;
}

.columna1:hover{
    color: $naranja2 ;

}

.columna2{
    text-align: center;
    font-size: 4vw;
    color: $rosa;
    font-weight: 700;
    background-color: $rosa;
    padding: 5vw;
    border-radius: 0% 40% 40% 0%;

    transition: 1s;
}

.columna2:hover{
    color: $azul2 ;

}

.columna3{
    text-align: center;
    font-size: 4vw;
    color: $amarillo;
    font-weight: 700;
    background-color: $amarillo;
    padding: 5vw;
    border-radius: 40% 0% 0% 40%;

    transition: 1s;
}

.columna3:hover{
    color: $verde2 ;
}

.columna4{
    text-align: center;
    font-size: 4vw;
    color: $verde1;
    font-weight: 700;
    background-color: $verde1;
    padding: 5vw;
    border-radius: 0% 0% 40% 0%;

    transition: 1s;
}

.columna4:hover{
    color: $verde2 ;

}

.columna5{
    text-align: center;
    font-size: 4vw;
    color: $beige;
    font-weight: 700;
    background-color: $beige;
    padding: 5vw;
    border-radius: 0% 40% 0% 40%;

    transition: 1s;
}

.columna5:hover{
    color: $naranja2 ;

}

.columna6{
    text-align: center;
    font-size: 4vw;
    color: $azul2;
    font-weight: 700;
    background-color: $azul2;
    padding: 5vw;
    border-radius: 40% 0% 0% 0%;

    transition: 1s;
}

.columna6:hover{
    color: $beige ;
}


.columna7{
    text-align: center;
    font-size: 4vw;
    color: $azul1;
    font-weight: 700;
    background-color: $azul1;
    padding: 5vw 2vw 5vw 2vw;
    border-radius: 0% 40% 40% 0%;

    transition: 1s;
}

.columna7:hover{
    color: $rosa ;

}

.columna8{
    text-align: center;
    font-size: 4vw;
    color: $verde2;
    font-weight: 700;
    background-color: $verde2;
    padding: 5vw 2vw 5vw 2vw;
    border-radius: 40% 0% 0% 40%;

    transition: 1s;
}

.columna8:hover{
    color: $beige ;

}

.columna9{
    text-align: center;
    font-size: 4vw;
    color: $naranja2;
    font-weight: 700;
    background-color: $naranja2;
    padding: 5vw 2vw 5vw 2vw;
    border-radius: 0% 0% 40% 40%;

    transition: 1s;
}

.columna9:hover{
    color: $naranja1 ;
}


/* branding */



.branding-topics{
    background-color: $naranja2;

    height: 1vw;
    transition: height 1s;
}

.branding-topics:hover{
    height: 4vw;

}

.branding-topicsFonts{
    text-align: center;
    color: $azul2;
    font-weight: 500;
    opacity: 0%;
    padding-top: 0.5vw;

    transition: 1s;
}

.branding-topicsFonts:hover{ 
    opacity: 100%;
    font-weight: 700;
    font-size: 2vw;
    color: $beige;
}

.contenedor-branding{
    margin-top: 1vw;
}


/* EDITORIAL */

.editorial-font{
    font-size: 1.5vw;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.editorial-paper1{
    padding: 4vw 1vw 4vw 1.5vw;
    margin: 1vw;
    color: $azul2;
    transform: rotate(-10deg);

    background: linear-gradient(-135deg, $verde1 5px, transparent 0) 0 5px, linear-gradient(135deg, $verde1 5px, #fff 0) 0 5px;
    background-color: $verde1;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
}

.editorial-paper2{
    padding: 4vw 1vw 4vw 1.5vw;
    margin: 1vw;
    color: $beige;
    transform: rotate(5deg);

    background: linear-gradient(-135deg, #fff 5px, transparent 0) 0 5px, linear-gradient(135deg, #fff 5px, $azul2 0) 0 5px;
    background-color: $azul2;
    background-position: right top;
    background-repeat: repeat-x;
    background-size: 10px 10px;
}

.editorial-paper3{
    padding: 4vw;
    margin: 1vw;
    color: $verde2;
    transform: rotate(15deg);

    background: linear-gradient(-135deg, $amarillo 5px, transparent 0) 0 5px, linear-gradient(135deg, $amarillo 5px, #fff 0) 0 5px;
    background-color: $amarillo;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
}

.editorial-paper4{
    padding: 4vw 1vw 4vw 1.5vw;
    margin: 1vw;
    color: $amarillo;
    transform: rotate(-5deg);

    background: linear-gradient(-137deg, $naranja2 6px, transparent 0) 0 5px, linear-gradient(320deg, $naranja2 5px, #fff 0) 0 5px;
    background-color: $naranja2;
    background-position: left bottom;
    background-repeat: repeat-y;
    background-size: 10px 10px;
}

.packaging-container{
    background-color: $rosa;
    padding: 0vw 0vw 10vw 0vw;
}

.packaging-titulo{
    padding-top: 3vw;
}





@media screen and (max-width:1125px){

    h2{
        font-size: 6vw;
    }
    h3{
        font-size: 4vw;
    }

    /* community managment */
    .col-md{
        font-size: 10vw;
        padding: 10vw;
    }

    /* branging */
    .editorial-font{
        font-size: 8vw;
    }

    .branding-topics{
        margin-top: 3vw;
    }
    
    }