@import "menu-footer";
@import "home";
@import "portfolio";
@import "contacto";
@import "servicios";
@import "nosotros";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

$blanco: white;
$negro: black;
$beige: #EAE2CC;
$rosa: #E4A4AD;
$amarillo: #EBB724;
$naranja1: #D78B3A;
$naranja2: #DB5424;
$azul1: #597BB4;
$azul2: #286CCD;
$verde1: #82B39B;
$verde2: #065249;
